@font-face {
  font-family: "iconfont"; /* Project id 3444903 */
  src: url('iconfont.woff2?t=1656398595736') format('woff2'),
       url('iconfont.woff?t=1656398595736') format('woff'),
       url('iconfont.ttf?t=1656398595736') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuding:before {
  content: "\e63f";
}

.icon-rcd-angle-double-down:before {
  content: "\e60b";
}

.icon-flag:before {
  content: "\e664";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-password:before {
  content: "\e75b";
}

.icon-weibo:before {
  content: "\e636";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-arrowdown:before {
  content: "\e692";
}

.icon-long-arrow-right:before {
  content: "\e8fe";
}

